<app-header></app-header>
<section class="insur_section pt-5 backimage">
    <div class="layered_bg mt-5">
        <div class="row">
            
            <div class="col-sm-12">
                <div class="prem_payment">
                    <div class="d-flex float-end">
                        <a href="" class="float-left float-start me-3 text-center text-decoration-none"><i class="fa-2x fa fa-envelope text-bg-light" aria-hidden="true"></i><br><small class="text-bg-light">Mail</small></a>
                        <a href="" class="float-left float-start me-3 text-center text-decoration-none"><i class="fa-2x fa-file-pdf fas text-danger" aria-hidden="true"></i><br><small class="text-bg-light">Download</small></a>
                    </div>
                    <div class="float-lg-start text-center w-100 mt-5 pt-4"><h4>Thank You, Confirmation number : 13456</h4></div>
                    <div class="float-lg-start text-center w-100"><h6>A confirmation email will be sent to your email address shortly.</h6></div>
                    
                </div>
            </div>
        </div>
    </div>
</section>