<app-header></app-header>
<section class="main_section pt-5">
    <div class="container">
        <div class="row py-5 mt-2 justify-content-center">
            <div class="col-md-8 landpage_layerbox">
                <div class="row p-3" >
                    <h1 class="layerbox_title">Lorem Ipsum is simply</h1>
                    <h4 class="layerbox_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </h4>
                    <div class="col-md-4 p-2">
                        <a href="#">
                            <div class="icon-box">
                                <img src="assets/images/car insurance.png" (click)="VehicleInsurance()"  style="width: 88%;height: auto;">
                                <h6 class="pt-2">Motor Insurance</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 p-2">
                        <a >
                            <div class="icon-box">
                                <img src="assets/images/travel insurance.png"  (click)="TravelInsurance()"style="width: 88%;height: auto;">
                                <h6>Travel Insurance</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 p-2">
                        <a href="#">
                            <div class="icon-box">
                                <img src="assets/images/health insurance.png"  (click)="HealthInsurance()"style="width: 88%;height: auto;">
                                <h6>Health Insurance</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>